[Unit]
Description=Splash screen for Raspberry Pi

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose /home/pi/splashscreen.png
StandardInput=tty

[Install]
WantedBy=sysinit.target
